@import './variables.scss';

@mixin mQ($arg) {
  @media screen and (max-width: $arg){
    @content;
  }
}

@mixin breakPoint($width, $orientation) {
  @media screen  and (max-width: $width) and (orientation: $orientation){
    @content;
  }
}

@mixin img-card {
  img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    
    @include mQ(600px) {
      max-height: 200px;
    }
  }
}


@mixin link {
  span {
    color: $link;
    cursor: pointer;
  }
}


@mixin form {
  background-color: $ofgrey;
  max-width: 600px;
  padding: 50px 30px;
  margin: 50px auto;
  text-align: center;

  .material-icons {
    font-size: 100px;
  }
}

@mixin input {
  mat-form-field {
    display: block;
    margin: 5px 30px;
  }
}


@mixin title {
  .header-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $ofgrey;
    margin: 0;
  }
}

@mixin paginator {
  .pagination {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 14px;
    @include mQ(600px) {
      margin-top: 20px;
      text-align: left;
    }
  }
}
