@import 'variables';
@import 'mixins';

.sort-pane {
  text-align: center;
  margin: 5px 0px;
  vertical-align: middle;

  .radio {
    margin-top: auto;
    padding-right: 10px;
  }

  @include mQ(600px) {
   display: flex;
  }

  button {
    margin: 5px 15px;
    font-size: 10px;
    @include mQ(600px) {
      margin: 2px 5px;
      font-size: 10px;
    }
  }
}
