@import 'variables';
@import 'mixins';

button.active {
  background-color: $main-color;
  color: white;
}

.sort-pane {
  text-align: center;
  margin: 10px 0px;

  button {
    margin: 5px 15px;
    @include mQ(600px) {
      margin: 2px 5px;
      font-size: 10px;
    }
  }
}
