<h1 class="header-title" *ngIf="header">{{header}}</h1>
<div class="followers">
      <ng-container *ngIf="users?.length">

        <app-search-field 
          [filterStr]="filterStr"
          [name]="filterField"
          (newKeyEvent)="onFilterValChange($event)">
        </app-search-field>

        <div class="container justify-content-start">
          <div class="row">
            <ng-container *ngFor="let user of users | filter:filterStr:filterField; let i = index">
              <app-user class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [user]="user"></app-user>
            </ng-container>
          </div> 
        </div>
      </ng-container>
</div>

<ng-container *ngIf="!(users?.length)">
  <ng-container
    *ngTemplateOutlet="noFollowersTemplate; context: {header: header}">
  </ng-container>


<ng-template #noFollowersTemplate let-header="header">
  <ng-container [ngSwitch]="header">
    <h3 class="text-muted text-center" *ngSwitchCase="'Followers'">
      This user hasn't got any followers
    </h3>
    <h3 class="text-muted text-center" *ngSwitchCase="'Followings'">
      This user hasn't hasn't followed anyone yet
    </h3>
    <h3 class="text-muted text-center" *ngSwitchDefault>
      No users yet
    </h3>
  </ng-container>
</ng-template>
