@import 'variables';

form {
  max-width: 600px;
  padding: 70px 25px;
  width: 100%;
  margin: auto;
  position: relative;
  input {
      margin-bottom: 10px;
      span {
          background-color: transparent !important;
      }
  }
  button {
      display: block;
  }
}

mat-hint {
  color: $warn;
}

.mat-form-field {
  display: block;
  line-height: 1rem;
}

.form-content {
  align-self: center;
}

.form-footer {
  text-align: center;
  padding-bottom: 50px;
}
