<form [formGroup]="courseForm" class="form" (ngSubmit)="submitForm()">
  <h1 class="title text-center">Add a Course</h1>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input 
      matInput
      formControlName="name"
      type="text"
    >
  </mat-form-field>

  <div *ngIf="name.touched && name.invalid">
    <mat-hint *ngIf="name.errors?.required">Please, provide a name for your course</mat-hint>
    <mat-hint *ngIf="name.errors?.minlength">Name is too short</mat-hint>
    <mat-hint *ngIf="name.errors?.maxlength">Please, choose a shorter name to make it easy to read</mat-hint>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Content</mat-label>
    <textarea 
      formControlName="content"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10">
    </textarea>
  </mat-form-field>

  <div *ngIf="content.touched && content.invalid">
    <mat-hint *ngIf="content.errors?.required">Please, provide some info about your course</mat-hint>
    <mat-hint *ngIf="content.errors?.minlength">Content should contain at least 30 characters</mat-hint>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input
      formControlName="startDate"
      matInput 
      [matDatepicker]="dp1"
     >
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
  </mat-form-field>

  <p class='text-muted'>You can choose any date starting from tomorrow</p>
  <div *ngIf="startDate.touched && startDate.invalid">
    <mat-hint *ngIf="startDate.errors?.required">Please, provide the date when you course starts</mat-hint>
    <mat-hint *ngIf="startDate.errors?.invalidDate">You can't use expired dates</mat-hint>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input
      formControlName="endDate"
      matInput 
      [matDatepicker]="dp2"
    >
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
  </mat-form-field>

  <div *ngIf="endDate.touched && endDate.invalid">
    <mat-hint *ngIf="endDate.errors?.required">Please, provide the date when you course ends</mat-hint>
    <mat-hint *ngIf="endDate.errors?.invalidDate">You can't use expired dates</mat-hint>
  </div>

  <div *ngIf="courseForm.invalid && endDate.touched">
    <mat-hint *ngIf="courseForm.errors?.dateConflict">The difference between dates should be at least 24h</mat-hint>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input 
      #price
      matInput
      formControlName="price"
      type="number"
    >
  </mat-form-field >

  <mat-checkbox #certificate formControlName="certificate">Certificate</mat-checkbox>
 
  <p class='text-muted'>The picture max size mustn't exceed {{ maxSize / 1000}} kilobytes</p>
  <app-upload [form]="courseForm"></app-upload>
  <div *ngIf="image.invalid && image.errors.maxContentSize">
    <mat-hint>Maximum image size exceeded</mat-hint>
  </div>

  <button
    type="submit"
    [disabled]="isLoading || courseForm.invalid"
    mat-raised-button color="primary" 
  >
    <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  Add
  </button>

</form>
