<div #container class="courses-component">
  <div *ngIf="courses?.length; else noCourses">
    <app-search-field 
      [filterStr]="filterStr"
      [name]="filterField"
      (newKeyEvent)="onFilterValChange($event)"
      >
    </app-search-field>
    <div class="row justify-content-center course-utility-pane">
      <app-filter-toggle 
        (toggleStatusChange)="onToggleStatusChange($event)"
        [storageRef]="'course-toggle'"
        [label]="'Hide Inactive'"
        >
      </app-filter-toggle>
      <span style="flex: 1 1 auto"></span>
      <app-sort-pane
        [sortRef]="sortRef"
        (sortValChange)="onSortValChange($event)"
        >
      </app-sort-pane>
    </div>
    
    <div class="card-group">
      <ng-container *ngFor="let course of courses
        | toggle:'isActive':hideInactive
        | sort:field:order:courses 
        | paginate: { itemsPerPage: maxItemsPerPage, currentPage: page }
        | filter:filterStr:filterField
        ; 
        let i = index">
        <app-course
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
        [course]="course"></app-course>
      </ng-container>
    </div>
    <div class="pagination">
      <pagination-controls
        autoHide="true"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        maxSize="8"
        (pageChange)="page = $event">
      </pagination-controls>
    </div>
</div>
</div>


<ng-template #noCourses>
  <p>No courses yet</p>
</ng-template>
