@import 'mixins.scss';
@import 'variables.scss';

.main {
  align-items: center;
  margin: 10px auto;
}

.user-card {
  align-self: center;
  position: relative;

  .button-abs {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 100;
  }
}

.icon-bar {
  justify-content: space-evenly;
  padding: 0;
  margin: 0;

    mat-icon {
      height: 100%;
    }
}

.btn-icon {
  &:hover {
    transform: scale(1.2);
  }
}

.detail-container {
  box-sizing: border-box;
  min-height: 300px;
  position: relative;
  max-width: 1300px;
  max-height: 900px;
  overflow-y: auto;
  padding: 40px;
  border-top: 3px solid $main-color;
  border-bottom: 3px solid $main-color;
  margin: auto;

  @include mQ(700px) {
    max-height: none;
    padding: 0px;
  }

}

.no-content {
  h2 {
    color: $accent-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin: 10px auto;
    opacity: 0.3;
  }
}

.user-bg {
  background-image: url('../../../assets/user/detail-bg.png');
  padding-top: 50px;
  padding-bottom: 50px
}

