<ng-container *ngIf="(currentUser$ | async); else noUser">
  <div class="container main">

    <div *ngIf="authUserId && authUserId === userId"class="notifications">
      <app-user-notifications></app-user-notifications>
    </div>

      <div class="row justify-content-center user-bg">
      
        <section class="col-xs-10 col-sm-10 col-md-5 col-lg-5 user-card">
          <app-user-pic [user]="(currentUser$ | async)"></app-user-pic>
          <ng-container *ngIf="authUserId && authUserId === userId">
            <app-wizard class="button-abs" [componentList]="componentList" [name]="'settings'">
              <mat-icon>settings</mat-icon>
            </app-wizard>
          </ng-container>
          <ng-container *ngIf="authUserId && authUserId !== userId">
            <app-follow-button class="button-abs" [userId]="userId"></app-follow-button>
          </ng-container>
        </section>
      </div>

      <div class="row col-12 icon-bar" style="margin-top: 40px;">
        <button
          mat-fab
          class="btn-icon"
          (click)="processClick('followers','followers')"
          matTooltip="followers"
          matTooltipPosition="below" 
          style="background-color: #1a237e;">
          <mat-icon>people_alt</mat-icon>
        </button>
        <button
          mat-fab
          class="btn-icon"
          (click)="processClick('followers','followings')"
          matTooltip="followings"
          matTooltipPosition="below" 
          style="background-color: #c51162;">
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-fab
          class="btn-icon"
          (click)="processClick('courses','authoredCourses')"
          matTooltip="authored courses"
          matTooltipPosition="below" 
          style="background-color: #f9a825;">
          <mat-icon>create</mat-icon>
        </button>
        <button
          mat-fab
          class="btn-icon"
          (click)="processClick('courses','likedCourses')"
          matTooltip="liked courses"
          matTooltipPosition="below" 
          style="background-color: #dd2c00;">
          <mat-icon>favorite</mat-icon>
      </button>
        <button
          mat-fab
          class="btn-icon"
          (click)="processClick('courses','enrolledCourses')"
          matTooltip="enrolled courses"
          matTooltipPosition="below"
          style="background-color: #004d40;">
          <mat-icon>school</mat-icon>
      </button>
      </div>
    </div>

</ng-container>
<ng-container *ngIf="(currentUser$ | async)">
  <div class="detail-container">
    <router-outlet></router-outlet>
    <div class="no-content">
      <h2>Click one of the icons above to see more content</h2>
    </div>
  </div>
</ng-container>


<ng-template #noUser>
  <app-error-page></app-error-page>
</ng-template>
 