<main>
  <div class="about-main-banner">
    <img 
      src="../../assets/images/about/about.png" alt="">
    <div class="about-banner-content">
      <h1 class="about-banner-title">lorem impsum</h1>
      <h1 class="about-banner-subtitle">lorem impsum</h1>
      <br>
      <button mat-flat-button color="accent">Check our courses</button>
    </div>
  </div>
</main>

<section class="about-feedback">
  <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum ratione, dolore labore rem corporis earum perspiciatis neque, dolorum, excepturi omnis repellendus dolor est accusantium optio ut eos quasi maxime itaque?</div>
  <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos illum natus doloremque obcaecati fuga at consequatur fugit, sit fugiat doloribus sequi, ad distinctio quos qui quod dolore! Repudiandae, obcaecati fugit.</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum hic quos autem, ipsam unde ratione vitae fugiat repellat. Vitae suscipit rerum blanditiis fugit aspernatur necessitatibus tempore, excepturi harum? Doloribus, ipsum.</div>
</section>

<section class="about-photo-section">
  <div class="image-container">
    <img src="../../assets/images/about/one.jpg" alt="some photo">
  </div>
  <div class="section-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error magni blanditiis quibusdam aliquid unde officiis voluptate suscipit accusamus adipisci tempora, facilis quos odio tenetur atque temporibus assumenda recusandae accusantium.</p>
    <button mat-flat-button color="accent">Some action</button>
  </div>
</section>

<section class="about-photo-section">
  <div class="section-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error magni blanditiis quibusdam aliquid unde officiis voluptate suscipit accusamus adipisci tempora, facilis quos odio tenetur atque temporibus assumenda recusandae accusantium.</p>
    <button mat-flat-button color="accent">Some action</button>
  </div>
    <div class="image-container">
    <img src="../../assets/images/about/two.jpg" alt="some photo">
  </div>
</section>

<section class="about-photo-section">
  <div class="image-container">
    <img src="../../assets/images/about/three.jpg" alt="some photo">
  </div>
  <div class="section-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error magni blanditiis quibusdam aliquid unde officiis voluptate suscipit accusamus adipisci tempora, facilis quos odio tenetur atque temporibus assumenda recusandae accusantium.</p>
    <button mat-flat-button color="accent">Some action</button>
  </div>
</section>
