<div
    [formGroup]="form"
    class="form"
>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>

        <input
            matInput
            formControlName="email"
        >
    </mat-form-field>

    <div *ngIf="email.touched && email.invalid">
        <mat-hint *ngIf="email.errors?.required">Please, type your email!</mat-hint>

        <mat-hint *ngIf="email.errors?.email">
            Please, provide valid email adress!
        </mat-hint>
    </div>

    <mat-form-field appearance="outline">
        <mat-label for="password">Password</mat-label>

        <input
            matInput
            formControlName="password"
            id="password"
            type="password"
        >
    </mat-form-field>

    <div *ngIf="password.touched && password.invalid">
        <mat-hint *ngIf="password.errors?.required">Please, type your password!</mat-hint>

        <mat-hint *ngIf="password.errors?.minlength">
            Password must include at least 7 characters
        </mat-hint>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>

        <input
            matInput
            formControlName="confirmPassword"
            type="password"
            id="confirmPassword"
        >
    </mat-form-field>

    <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <mat-hint *ngIf="confirmPassword.errors?.required">
            Please, confirm your password!
        </mat-hint>
    </div>

    <div *ngIf="confirmPassword.touched && confirmPassword.value">
        <mat-hint *ngIf="form.invalid && form.errors?.missmatch">Passwords don't match!</mat-hint>
    </div>
</div>
