<div *ngIf="courses.length; else noCourses">
  <mat-tab-group>
    <mat-tab label="All courses">
      <div class="card-body-wrapper container">
        <div class="row">
          <ng-container *ngFor="let course of courses">
            <app-course 
            class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
            [authUserStatus]="authUserStatus"
            [course]="course"></app-course>
          </ng-container>
        </div>
      </div>
      </mat-tab>
    <mat-tab label="Free courses">
      <div class="card-body-wrapper container">
        <div class="row">
          <ng-container *ngFor="let course of courses">
            <ng-container *ngIf="course.price == 0">
              <app-course
                class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                [authUserStatus]="authUserStatus"
                [course]="course"></app-course>
            </ng-container>
          </ng-container>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Paid courses">
        <div class="card-body-wrapper container">
          <div class="row">
            <ng-container *ngFor="let course of courses">
              <ng-container *ngIf="course.price != 0">
                <app-course
                class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                [authUserStatus]="authUserStatus"
                [course]="course"></app-course>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>

<ng-template #noCourses>
  <p>No courses yet</p>
</ng-template>
