<ng-container *ngIf="course; else notFound">
  <div class="container">
    <div class="row justify-content-center">
      <mat-card class="col-xs-12 col-sm-11 col-md-8 col-lg-8">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img *ngIf="author?.image" src="{{author?.image}}" alt="author's thumbnail" [routerLink]="['/users', author.id]">
            <img *ngIf="!author" src="assets/user/userpic.png" mat-card-avatar alt="author's thumbnail">
          </div>
        <div class="header-text">
          <mat-card-title class="title">{{course.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="author?.name">by {{author?.name}}</mat-card-subtitle>
          <mat-card-subtitle class="text-danger" *ngIf="!author">Deleted User</mat-card-subtitle>
        </div>
        </mat-card-header>
        <img  mat-card-image src="{{course.image}}" alt="course banner">
        <mat-card-content>
          <div class="content">{{course.content}}</div>
          <p class="date">
            {{course.startDate | date}} - {{course.endDate | date}}
          </p>
          <p class="price" *ngIf="course.price">
            {{course.price | currency: 'USD'}}
          </p>
          <p class="price" *ngIf="!course.price">Free course</p>
          <p>Certificate: {{course.certificate ? 'Yes': 'No'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <ng-container *ngIf="course">
            <app-like-button [courseId]="course.id"></app-like-button>
            <ng-container *ngIf="isCourseActive">
              <app-enroll-btn [courseId]="course.id" [courseAuthorId]="course.authorId"></app-enroll-btn>
            </ng-container>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </div> 
  </div>
  <ng-container *ngIf="course">
    <app-comment [entryId]="course.id"></app-comment>
  </ng-container>
</ng-container>

<ng-template #notFound>
  <app-error-page></app-error-page>
</ng-template>
