.user-card {
  align-items: center;
  position: relative;
  z-index: 1;
  justify-content: flex-start;

  .img-thumbnail {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
  } 

  .bg-image {
    position: absolute;
    filter: contrast(70%);
    opacity: 0.5;
    z-index: -1;
  }
}
