<ng-container *ngIf="user">
  <ng-container *ngTemplateOutlet="userTemplate; context: {user: user}"></ng-container>
</ng-container>
    
<ng-template #userTemplate let-user="user">
    <div class="profile-container">
      <div class="profile-info">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{user.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/user/userpic.png" alt="Photo">
          <mat-card-actions></mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
        <mat-card-header>
          <h3>Courses authored: {{ user.authoredCourses.length }}</h3>
          <h3>Courses enrolled: {{ user.enrolledCourses.length }}</h3>
        </mat-card-header>
        </mat-card>
      </div>
      
      <div class="profile-main">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Authored courses
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let course of userCourses.authoredCourses">
              <ng-container 
                *ngTemplateOutlet="courseTemplate; context: {course: course}">
              </ng-container>
            </ng-container>
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Enrolled Courses
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <ng-container *ngFor="let course of userCourses.enrolledCourses">
              <ng-container 
                *ngTemplateOutlet="courseTemplate; context: {course: course}">
               </ng-container>
            </ng-container>
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Liked Courses
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let course of userCourses.likedCourses">
              <ng-container 
                *ngTemplateOutlet="courseTemplate; context: {course: course}">
               </ng-container>
            </ng-container>
          </mat-expansion-panel>
          
        </mat-accordion>
      </div>
    </div>
</ng-template>

<ng-template #courseTemplate let-course="course">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{course.name}}</mat-card-title>
      <mat-card-subtitle>by {{course.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image 
      src="{{course.image}}" 
      alt="Some photo">
    <mat-card-content>
      <p>{{course.content}}</p>
    </mat-card-content>
  </mat-card>
</ng-template>

