<ng-container *ngIf="(notifications$ | async)">
  <div class="notification-container">
  <ng-container *ngFor="let notification of ( notifications$ | async | slice:0:3); let i = index">
      <div class="notification">
        <p>{{notification.message}}</p>
        <p>{{notification.date | date: 'short'}}</p>
        <ng-container
          *ngIf="notification.type === 'USER_ENROLLED' || notification.type === 'FOLLOWER_ADDED'">
            <a [routerLink]="['/users', notification.payload]">Check it out!</a>
        </ng-container>
        <ng-container
          *ngIf="notification.type === 'COURSE_ADDED'">
          <ng-container *ngFor="let id of notification.payload">
            <a [routerLink]="['/courses', id]">Check it out!</a>
          </ng-container>
        </ng-container>
        <button class="close" mat-icon-button color="warn" (click)="markAsRead(i)">
          <mat-icon>
            highlight_off
          </mat-icon>
        </button>
      </div>
  </ng-container>
  </div>
</ng-container>



