<div class="followers">
    <div class="container">
      <div class="row">
        <ng-container *ngIf="followers.length">
          <ng-container *ngFor="let user of followers">
            <div class="col-4 user-pic-small">
              <div class="user-pic-container">
                <img src="{{user.image}}" alt="user photo">
              </div>
              <span class="user-name-url">
                <a [routerLink]="['/users', user.id]">{{ user.name}}</a>
              </span>
            </div>
          </ng-container> 
        </ng-container>
        <ng-container *ngIf="!followers.length">
          <ng-container  
            *ngTemplateOutlet="noFollowersTemplate; context: {title: title}">
          </ng-container>
        </ng-container>
      </div> 
  </div>
</div>
  

<ng-template #noFollowersTemplate let-header="title">
  <ng-container [ngSwitch]="title">
    <h3 class="text-muted" *ngSwitchCase="'Followers'">
      This user hasn't got any followers yet
    </h3>
    <h3 class="text-muted" *ngSwitchCase="'Following'">
      This user isn't following anyone
    </h3>
    <h3 class="text-muted" *ngSwitchDefault>
      No users yet
    </h3>
  </ng-container>
</ng-template>
