@import '../../styles/mixins.scss';

// @mixin mQ($arg) {
//   @media screen and (max-width: $arg){
//     @content;
//   }
// }

.example-card {
  // @include mQ(600px) {
  //   font-size: 12px;
  //   max-width: 200px;

  //   mat-card-title {
  //     font-size: 12px;
  //   }
  // }
}

.example-card img {
  height: auto;
}

mat-card {
  // display: inline-block;
  position: relative;
}

.example-header-image {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 3%;
  }
}

.mat-card-content {
  p {
    text-align: center;
    
    span {
      vertical-align: middle;
    }
  }
}

.mat-card-actions {
  text-align: center;
}

.mat-button {
  span {
    font-size: 16px;
    vertical-align: middle;
  }
} 
