@import 'variables';
@import 'mixins';

.sort-pane {
  text-align: center;
  margin: 5px 0px;

  .radio {
    vertical-align: middle;
    padding-right: 10px;
    @include mQ(600px) {
      margin-top: 10px;
    }

  }

  @include mQ(600px) {
   display: flex;
  }

  button {
    margin: 5px 15px;
    font-size: 10px;
    @include mQ(600px) {
      margin: 2px 5px;
      font-size: 10px;
    }
  }
}
