<ng-container *ngIf="options?.length">
  <div class="sort-pane">
    <mat-radio-group aria-label="Select an option" [value]="sortValue" (change)="onSortFieldChange($event)">
      <ng-container *ngFor="let option of options; let i = index">
        <mat-radio-button 
          matTooltip="{{sortOrder ? option.tooltip.DESC : option.tooltip.ASC}}"
          class="radio" 
          [value]="option.field"
        >{{option.alias}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
    <button
      mat-icon-button [disabled]="!sortValue" 
      color="primary" 
      (click)="onSortOrderChange()">
      <mat-icon>
        {{sortOrder ? 'arrow_upward' : 'arrow_downward'}}
      </mat-icon>
    </button>
    <button mat-icon-button
      [disabled]="!sortValue"
      color="warn"
      (click)="reset()"
      >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</ng-container>


