<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/courses">
        <span class="material-icons">
          home_work
        </span>
        Home
      </a>
      <a mat-list-item routerLink="/about">
        <span class="material-icons">
          supervised_user_circle
        </span>
        About us
      </a>
      <a mat-list-item routerLink="/users">
        <span class="material-icons">
          people_outline
        </span>
       Users
      </a>
      <ng-container *ngIf="authStatus">
        <a mat-list-item [routerLink]="['/users', authUserId]">
          <span class="material-icons">
            perm_identity
          </span>
         My profile
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OnlineAcademy</span>
      <span class="space"></span>
      <ng-container *ngIf="authStatus">
        <a mat-list-item (click)="logout()">
          <span class="material-icons">
            perm_identity
          </span>
         Log out
        </a>
      </ng-container>
      <ng-container *ngIf="!authStatus">
        <a mat-list-item routerLink="/login">
          <span class="material-icons">
            perm_identity
          </span>
         Log in
        </a>
      </ng-container>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
