.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.space {
  flex: 1 1 auto;
}

.mat-toolbar a {
  color: white;
}


.main-content {
  max-width: 2000px;
  margin: auto;
  padding: 10px;
}

