@import 'variables';
@import 'mixins';

@include title();

.card {
  margin-top: 20px;
  min-width: 200px;
  max-width: 200px;
  @include mQ(600px) {
    max-width: 100%;
  }

  img {
    max-height: 50%;
  }
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 0px $ofgrey;
  p {
    color: $main-color;
  }

  .likes {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0.8;
  }
}

.course-preview {
  padding: 30px 10px;
}
