.user-pic-small {
  text-align: center;
  inline-size: min-content;
  font-size: 10px;
  animation: appear 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}


.user-pic-container {
  max-width: 70px;
  margin: 0 auto;

  img {
    border-radius: 70px 70px 0px 70px;
    vertical-align: super;
    height: 70px;
    width: 70px;
    object-fit: cover;
  }

  span {
    padding-top: 5px;
    font-size: 0.5rem;
  }
}
