.main {
  padding: 10px;
  max-width: 1600px;
  margin: 20px auto;
}

.card-footer {
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

app-user-pic {
  max-width: 200px;
}

.card {
  align-items: center;
}
