<ng-container *ngIf="user; else noUser">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 user-column">

        <section>
          <app-user-pic [user]="user"></app-user-pic>
          <ng-container *ngIf="authUserId && authUserId !== userId">
            <app-follow-button [userId]="user.id"></app-follow-button>
          </ng-container>
          <ng-container *ngIf="authUserId && authUserId === userId">
            <button mat-button [disabled]="true" (click)="deleteAccount($event)">Delete Account</button>
          </ng-container>
        </section>
        
        <section class="followers-section">
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Followers</span>
              <span class="example-spacer"></span>
              <span><a [routerLink]="['/users', user.id, 'followers']">View All</a></span>
            </mat-toolbar-row>
          </mat-toolbar>
            <app-followers 
              [userId]="user.id" 
              [contentName]="'followers'">
            </app-followers>
        </section>

        <section class="followers-section">
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Followings</span>
              <span class="example-spacer"></span>
              <span><a [routerLink]="['/users', user.id, 'followings']">View All</a></span>
            </mat-toolbar-row>
          </mat-toolbar>
            <app-followers 
              [userId]="user.id" 
              [contentName]="'followings'">
            </app-followers>
        </section>

      </div>

      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 courses-column">
        <section>
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Authored Courses</span>
              <span class="example-spacer"></span>
              <span><a [routerLink]="['/users', user.id, 'authored-courses']">View All</a></span>
            </mat-toolbar-row>
          </mat-toolbar>
          <app-user-courses 
          [courses]="userCourses.authoredCourses"
          [header]="'Authored Courses'" 
          ></app-user-courses>
        </section>

        <section>
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Enrolled Courses</span>
              <span class="example-spacer"></span>
              <span><a [routerLink]="['/users', user.id, 'enrolled-courses']">View All</a></span>
            </mat-toolbar-row>
          </mat-toolbar>
          <app-user-courses 
          [courses]="userCourses.enrolledCourses"
          [header]="'Enrolled Courses'" 
          ></app-user-courses>
        </section>

        <section>
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Liked Courses</span>
              <span class="example-spacer"></span>
              <span><a [routerLink]="['/users', user.id, 'liked-courses']">View All</a></span>
            </mat-toolbar-row>
          </mat-toolbar>
          <app-user-courses 
          [courses]="userCourses.likedCourses"
          [header]="'Liked Courses'" 
          ></app-user-courses>
        </section>
  
      </div>
    </div>  
  </div>
</ng-container>

<ng-template #noUser>User not found</ng-template>
