<div class="followers">
      <ng-container *ngIf="userFollowings[contentName]?.length">
        <div class="card-deck">
          <ng-container *ngFor="let user of userFollowings[contentName]">
            <app-follower [user]="user"></app-follower>
          </ng-container> 
        </div>
      </ng-container>
      <ng-container *ngIf="!userFollowings[contentName]?.length">
        <ng-container  
          *ngTemplateOutlet="noFollowersTemplate; context: {contentName: contentName}">
        </ng-container>
      </ng-container>
</div>


<ng-template #noFollowersTemplate let-header="contentName">
<ng-container [ngSwitch]="contentName">
  <h3 class="text-muted text-center" *ngSwitchCase="'followers'">
    This user hasn't got any followers yet
  </h3>
  <h3 class="text-muted text-center" *ngSwitchCase="'following'">
    This user isn't following anyone
  </h3>
  <h3 class="text-muted text-center" *ngSwitchDefault>
    No users yet
  </h3>
</ng-container>
</ng-template>
