<h1 class="header-title" *ngIf="header">{{ header }}</h1>
<ng-container *ngIf="courses?.length">

  <app-search-field 
    [filterStr]="filterStr"
    [name]="filterField"
    (newKeyEvent)="onFilterValChange($event)">
  </app-search-field>

    <div class="container">
      <div class="row">
        <ng-container *ngFor="let course of courses | filter:filterStr:filterField; let i = index">
          <div class="course col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <app-course [course]="course"></app-course>
          </div>
      </ng-container>
      </div>
</div>
  </ng-container>
  <ng-container *ngIf="!(courses?.length)">
    <ng-container
      *ngTemplateOutlet="noCoursesTemplate; context: {header: header}">
    </ng-container>
  </ng-container>


<ng-template #noCoursesTemplate let-header="header">
  <ng-container [ngSwitch]="header">
    <h3 class="text-muted text-center" *ngSwitchCase="'Authored Courses'">
      This user hasn't authored any courses yet
    </h3>
    <h3 class="text-muted text-center" *ngSwitchCase="'Enrolled Courses'">
      This user hasn't enrolled in any courses yet
    </h3>
    <h3 class="text-muted text-center" *ngSwitchCase="'Liked Courses'">
      This user hasn't liked any courses yet
    </h3>
    <h3 class="text-muted tert-center" *ngSwitchDefault>
      No courses yet
    </h3>
  </ng-container>
</ng-template>


