@import 'variables.scss';
@import 'mixins.scss';


.card-columns {

  @include mQ(1200px) {
    column-count: 3;
  }
  
  @include mQ(1000px) {
    column-count: 2;
  }

  @include mQ(600px) {
    column-count: 1;
  }
}

@include title();


.course {
  margin-bottom: 10px;
}

