<h1 class="title" *ngIf="header">{{ header }}</h1>
<ng-container *ngIf="courses?.length">
    <div class="card-columns">
     <ng-container *ngFor="let course of courses">
        <div class="course">
          <app-course [isStandAloneComponent]="true" [course]="course"></app-course>
        </div>
    </ng-container>
</div>
  </ng-container>
  <ng-container *ngIf="!(courses?.length)">
    <ng-container
      *ngTemplateOutlet="noCoursesTemplate; context: {header: header}">
    </ng-container>
  </ng-container>


<ng-template #noCoursesTemplate let-header="header">
  <ng-container [ngSwitch]="header">
    <h3 class="text-muted" *ngSwitchCase="'Authored Courses'">
      This user hasn't authored any courses yet
    </h3>
    <h3 class="text-muted" *ngSwitchCase="'Enrolled Courses'">
      This user hasn't enrolled in any courses yet
    </h3>
    <h3 class="text-muted" *ngSwitchCase="'Liked Courses'">
      This user hasn't liked any courses yet
    </h3>
    <h3 class="text-muted" *ngSwitchDefault>
      No courses yet
    </h3>
  </ng-container>
</ng-template>


