<main>
  <div class="about-main-banner">
    <div class="about-banner-content">
      <blockquote class="blockquote">
        <span>
          “You don't have to be great to start,
        </span>

        <br>

        <span>
          but you have to start to be great”
        </span>

        <footer class="blockquote-footer">Someone famous</footer>
      </blockquote>
    </div>
  </div>
</main>

<section class="about-feedback">
  <div class="container">
    <div class="row col-12">
      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum ratione, dolore labore rem corporis earum perspiciatis neque, dolorum, excepturi omnis repellendus dolor est accusantium optio ut eos quasi maxime itaque?
      </div>

      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos illum natus doloremque obcaecati fuga at consequatur fugit, sit fugiat doloribus sequi, ad distinctio quos qui quod dolore! Repudiandae, obcaecati fugit.
      </div>

      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum hic quos autem, ipsam unde ratione vitae fugiat repellat. Vitae suscipit rerum blanditiis fugit aspernatur necessitatibus tempore, excepturi harum? Doloribus, ipsum.
      </div>
    </div>
  </div>
</section>

<section class="about-photo-section container">
  <div class="row">

    <div class="image-container col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <img
        src="../../assets/images/about/one.jpg"
        alt="some photo"
      >
    </div>
  
    <div class="section-content col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error magni blanditiis quibusdam aliquid unde officiis voluptate suscipit accusamus adipisci tempora, facilis quos odio tenetur atque temporibus assumenda recusandae accusantium.
      </p>
  
      <button
        mat-flat-button="mat-flat-button"
        color="accent"
        [routerLink]="['/courses']"
      >View Courses</button>
    </div>

  </div>
</section>

<section class="about-photo-section container">
  <div class="row">
  
    <div class="image-container col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <img
        src="../../assets/images/about/two.jpg"
        alt="some photo"
      >
    </div>

    <div class="section-content col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error magni blanditiis quibusdam aliquid unde officiis voluptate suscipit accusamus adipisci tempora, facilis quos odio tenetur atque temporibus assumenda recusandae accusantium.
      </p>
  
      <button
        mat-flat-button="mat-flat-button"
        color="accent"
        [routerLink]="['/users']"
      >View Users</button>
    </div>

  </div>
  