.example-card {
  max-width: 300px;
  text-align: center;
}

.example-card img {
  max-width: 100%;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-info {
  flex: 0 0 28%;
}

.profile-main {
  flex: 1 0 auto;
}

.add-form {
  flex: 1 1 auto;
  text-align: center;
}
