<div #container class="users-component">
  <ng-container *ngIf="users?.length">
    <ng-container *ngIf="users.length >= 8">
      <app-search-field 
      [filterStr]="filterStr"
      [name]="filterField"
      (newKeyEvent)="onFilterValChange($event)"
      ></app-search-field>
    </ng-container>
    <ng-container *ngIf="users.length >= 8">
      <app-sort-pane
      [sortRef]="sortRef"
      (sortValChange)="onSortValChange($event)"
    >
    </app-sort-pane>
    </ng-container>
    <div class="container">
      <div class="row justify-content-start">
        <ng-container *ngFor="let user of users 
          | sort:field:order:users 
          | paginate: { itemsPerPage: maxItemsPerPage, currentPage: page }
          | filter:filterStr:filterField; let i = index">
          <app-user class="col-xs-12 col-sm-6 col-md-4 col-lg-4" [user]="user"></app-user>
        </ng-container>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls 
        autoHide="true"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        maxSize="8"
        (pageChange)="page = $event">
      </pagination-controls>
    </div>
  </ng-container>  
</div>
